{
    "trailingComma": "none",
    "tabWidth": 4,
    "singleQuotes": true,
    "overrides": [
        {
            "files": "**/*.html",
            "options": {
                "parser": "lwc"
            }
        }
    ]
}